.announcement-details {
    max-width: 800px;
    margin: 10px auto; /* margin-top eklendi */
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  .announcement-image {
    width: 100%;
    height: 300px; /* Sabit minimum alan verildi */
    background-color: #f0f0f0; /* Görüntü olmadığı zaman gri arka plan */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .announcement-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 400px;
  }
  
  /* Responsive Tasarım */
  @media (max-width: 768px) {
    .announcement-image {
      height: 200px; /* Daha küçük ekranlarda yüksekliği küçültüldü */
    }
  }
  
  @media (max-width: 480px) {
    .announcement-image {
      height: 150px; /* En küçük ekranlar için daha da küçültüldü */
    }
  }
  
  .announcement-content {
    margin-top: 20px;
  }
  
  .announcement-content h1 {
    color: #8b0000;
    font-size: 24px;
    margin-bottom: 3px;
  }
  
  .announcement-content h2 {
    color: #333;
    font-size: 20px;
    margin-bottom: 5px;
  }
  
  .announcement-content p {
    color: #666;
    line-height: 1.6;
    word-wrap: break-word;
    white-space: pre-wrap;
  }
  
  .announcement-content p:nth-child(4), /* StartDate */
  .announcement-content p:nth-child(5) { /* EndDate */
    font-weight: bold;
    color: #000;
    font-size: 18px;
  }
  
  .announcement-actions {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  textarea {
    width: 100%;
    max-height: 150px; /* max-height eklendi */
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    resize: none; /* textarea boyutlandırma iptal */
  }
  
  .button-group {
    display: flex;
    gap: 10px;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  .approve-btn {
    background-color: #4CAF50;
    color: white;
  }
  
  .approve-btn:hover {
    background-color: #45a049;
  }
  
  .reject-btn {
    background-color: #f44336;
    color: white;
  }
  
  .reject-btn:hover {
    background-color: #da190b;
  }
  
  /* Responsive tasarım için medya sorguları */
  @media (max-width: 768px) {
    .announcement-details {
        padding: 15px;
    }
  
    .announcement-content h1 {
        font-size: 20px;
    }
  
    .announcement-content h2 {
        font-size: 18px;
    }
  
    .button-group {
        flex-direction: column;
        width: 100%;
    }
  
    button {
        width: 100%;
        margin-bottom: 10px;
    }
  }
  
  @media (max-width: 480px) {
    .announcement-content h1 {
        font-size: 18px;
    }
  
    .announcement-content h2 {
        font-size: 16px;
    }
  
    textarea {
        height: 80px;
    }
  }