.filterContainer {
    display: flex;
    max-width: 720px;
    margin-top: 50px;
    padding: 0 10px;
    border-bottom: 1px solid #D1DBE8;
}

.filterOptions {
  color: rgba(0, 0, 0, 0.5);
  position: relative;
  flex-direction: column;
  text-align: center;
  padding: 10px;
  font-weight: 600;
  font-size: 16px;
  background: linear-gradient(to right, black, black) no-repeat;
  background-size: 0% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(0, 0, 0, 0.5);
  transition: background-size 0.5s ease;
}

.filterOptions.active {
    background-size: 100% 100%;
}

.filterOptions.active .options {
    color: black;
}

.filterOptions::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 15%;
    width: 70%;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

.filterOptions.active::after {
    border-bottom: 2px solid black;
    animation: borderExpand 0.5s forwards;
}

.options {
    cursor: pointer;
}

@keyframes borderExpand {
    0% {
        border-bottom-color: rgba(0, 0, 0, 0.5);
        width: 0;
    }
    100% {
        border-bottom-color: black;
        width: 70%;
    }
}