.announcementList {
  background-color: #f5f5f5;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
}
  
.titleAnnouncementList {
    font-size: 1.5rem;
    margin-bottom: 16px;
    color: #333;
    justify-self: center;
}
  
.announcement {
    background-color: white;
    border-radius: 4px;
    padding: 12px;
    margin-bottom: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
  
.actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 8px;
}
  
.updateButton,
.deleteButton {
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9rem;
    margin-left: 8px;
    max-width: 80%;
}
  
.updateButton {
    background-color: #429c45;
    color: white;
}
  
.deleteButton {
    background-color: darkred;
    color: white;
}

/* Güncelleme ve silme mesajlarının stili */
.updateMessage, .deleteMessage {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
}

.updateMessage {
  background-color: #dff0d8; /* Yeşil arka plan */
  color: #3c763d;
}

.deleteMessage {
  background-color: #f2dede; /* Kırmızı arka plan */
  color: #a94442;
}

/* Güncelleme formu için stiller */
.updateForm {
  margin-top: 10px;
}

.updateInput {
  width: calc(100% - 20px);
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.buttonGroup {
  display: flex;
  gap: 10px; /* Butonlar arasında boşluk */
  margin-top: 10px; /* Input ile butonlar arasına boşluk ekleyin */
}

.submitUpdateButton, .cancelUpdateButton {
  margin-right: 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.submitUpdateButton {
  background-color: #3c763d;
  color: white;
}

.cancelUpdateButton {
  background-color: darkred;
  color: white;
}
  
@media (max-width: 768px) {
    .announcementList {
      padding: 12px;
    }
  
    .announcement {
      padding: 10px;
    }
  
    .actions {
      flex-direction: column;
    }
  
    .updateButton,
    .deleteButton {
      margin-left: 0;
      margin-top: 8px;
      width: 100%;
    }
}