.card {
  padding: 10px;
  max-width: 1480px;
  margin: 50px auto; 
  overflow: visible;
  
  font-family: "Lexend Deca";
  
  word-wrap: break-word;
  hyphens: auto;
  /* word-break: break-all; */
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.noResults {
  text-align: center;
  padding: 2rem;
  font-size: 1.2rem;
  color: #666;
}